.AddVideo {
  text-align: center;
  background-color: #FFF;
}


.AddVideo-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.AddVideo-search {
  display: flex;
  height: calc(10% + 30px);
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px;
  margin-top: 30px;
  border-color: black
}

.AddVideo-videoList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  top: 12%;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  height: 80%;
}

.AddVideo-videoList-video-container {
  position: relative;
  display: flex;
}

.AddVideo-videoList-video-img {
  width: 120px;
  height: 90px;
  flex-shrink: 0;
}

.AddVideo-videoList-video-metadata-container {
  min-width: 0;
  overflow: hidden;
  flex-grow: 1;
  padding: 0 8px;
}


.AddVideo-videoList-video-metadata-title {
  display: inline-block;
  margin-left: 5px;
  word-wrap: break-word;
  font-size: 3vmin !important;
}

.AddVideo-videoList-video-metadata-channelName {
  display: inline-block;
  margin-left: 5px;
  word-wrap: break-word;
  font-size: 2vmin !important;
}

.AddVideo-goBack {
  position: fixed;
  bottom: 1%;
  right: 5%;
}

