.ManageVideos {
  text-align: center;
}

.ManageVideos-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  top: 2vh;
}

.ManageVideos-addvideo-button {
  margin-top: 20px;
}


.ManageVideos-videoList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  height: 72%;
  margin-top: 20px;
}

.ManageVideos-videoList-video-container {
  position: relative;
  display: flex;
}

.ManageVideos-videoList-video-img {
  width: 120px;
  height: 90px;
  flex-shrink: 0;
}

.ManageVideos-videoList-video-metadata-container {
  min-width: 0;
  overflow: hidden;
  flex-grow: 1;
  padding: 0 8px;
}


.ManageVideos-videoList-video-metadata-title {
  display: inline-block;
  margin-left: 5px;
  word-wrap: break-word;
  font-size: 3vmin !important;
}

.ManageVideos-videoList-video-metadata-channelName {
  display: inline-block;
  margin-left: 5px;
  word-wrap: break-word;
  font-size: 2vmin !important;
}

.ManageVideos-goBack {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 290px);
}

@media only screen and (max-width: 600px) {
  .ManageVideos-goBack {
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
}
